.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.grid-group-item:nth-of-type(odd):hover, .item.grid-group-item:hover {
    background: #428bca;
}
.item.grid-group-item:nth-of-type(odd), .item.grid-group-item{
    background-color: #fff;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    /*background: #eeeeee;*/
    border:none;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
    width: 220px;
    height: 220px;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

#test {
    padding: 5px;
    /*padding-right: 15px;*/
}

.padding_grid {
    margin: 15px 10px 0 5px;
    /*background-color:red;*/
}
.padding_grid img{
    /*min-width: 343px;*/
    width: auto;
}

.grid-group-item img {
    /*width: 220px;*/
    /*height: 220px;*/
}

.thumbnail {
    margin-bottom: 0px;
}

.grid-group-item {
    max-width: 355px;
}

.grid-group-item img {
    /*width: 220px;*/
    height: 220px;
}

.list-group-item .price{
    float: right;
    color:red;
    padding-right: 20px;
    font-size: 25px;
    padding-right:10px;
    display: inline-block;
    
    /* Text */
    color: #E35354;
    text-align: center;
    font-weight: 600;
    padding: 4px 10px;
    background-color: #c40000;
    font: 700 26px 'PT Sans',sans-serif;
    color:#fff;
}

.list-group-item .price span{
    float: right;
    padding-right: 20px;
    margin-right:10px;
    display: inline-block;
    position: relative;

    /* Text */
    color: #232323;
    font-weight: 600;
    line-height: 25px;
    font: 600 26px 'PT Sans',sans-serif;
    color:#fff;
}

.price-undefined{
    float: right;
    padding-right: 20px;
    font-size: 25px;
    padding-right:10px;
    display: inline-block;
    
    /* Text */
    color: #E35354;
    text-align: center;
    font-weight: 600;
    padding: 4px 10px;
    background-color: #c40000;
    font: 700 26px 'PT Sans',sans-serif;
    color:#fff;
    background-color: #398439;
}

#no-result{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

#no-result h2{
    font-size: 20px;
    text-align: center;
    padding:60px;
}