.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.grid-group-item:nth-of-type(odd), .item.grid-group-item{
    background-color: #fff;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    /*background: #eeeeee;*/
    border:none;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
    width: 250px;
    height: 220px;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

#test {
    padding: 5px;
    /*padding-right: 15px;*/
}
#test:hover{
    box-shadow: 0 0 5px #515151;
}

.padding_grid {
    margin: 15px 10px 0 5px;
    /*background-color:red;*/
}
.padding_grid img{
    /*min-width: 343px;*/
    width: auto;
}

.grid-group-item img {
    /*width: 220px;*/
    /*height: 220px;*/
}

.thumbnail {
    margin-bottom: 0px;
}

.grid-group-item {
    max-width: 355px;
}

.grid-group-item img {
    /*width: 220px;*/
    height: 220px;
}

.list-group-item .price{
    float: right;
    color:red;
    padding-right: 20px;
    font-size: 25px;
    padding-right:10px;
    display: inline-block;

    /* Text */
    color: #E35354;
    text-align: center;
    font-weight: 600;
    padding: 4px 10px;
    background-color: #c40000;
    font: 700 26px 'PT Sans',sans-serif;
    color:#fff;
}

.list-group-item .price span{
    float: right;
    padding-right: 20px;
    margin-right:10px;
    display: inline-block;
    position: relative;

    /* Text */
    color: #232323;
    font-weight: 600;
    line-height: 25px;
    font: 600 26px 'PT Sans',sans-serif;
    color:#fff;
}

.price-undefined{
    float: right;
    padding-right: 20px;
    font-size: 25px;
    padding-right:10px;
    display: inline-block;

    /* Text */
    color: #E35354;
    text-align: center;
    font-weight: 600;
    padding: 4px 10px;
    background-color: #c40000;
    font: 700 26px 'PT Sans',sans-serif;
    color:#fff;
    background-color: #398439;
}

.price-undefined:hover{
    font-size: 25px;
    font: 700 26px 'PT Sans',sans-serif;
    background-color: #c40000;
}

#no-result{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

#no-result h2{
    font-size: 20px;
    text-align: center;
    padding:60px;
}

/*LINK BUTTON*/
#pannel a,#pannel a:visited,#pannel a:hover,#pannel a:active{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    color:#101010;
    font-size:26px;
}
#pannel a:hover{
    color:#c40000;
}
#pannel a.before:before,#pannel a.after:after{
    content: "";
    transition:0.5s all ease;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
}
#pannel a.before:before{
    top:-0.25em;
}
#pannel a.after:after{
    bottom:-0.25em;
}
#pannel a.before:before,#pannel a.after:after{
    height:3px;
    height:0.20rem;
    width:0;
    background:#c40000;
}

#pannel a.third:after{
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}

#pannel a.before:hover:before,#pannel a.after:hover:after{
    width:100%;
}

#pannel a:after{
    right:0;
    transition:0.25s all ease;
}
#pannel a:after{
    transition:0.25s all ease 0.4s;
}

#pannel a:after{
    width:100%;
}
#pannel{
    padding: 0;
}



/*date, actualizat, updated*/
.item.info{
    color: #848484;
    font-size: 14px;
    padding-top: 20px;

}
.pt-10{
    padding-top: 20px!important;
    font-size: 15px;
}


/*// pannel mark model ...*/
#pannel-body h2{
    font-size: 18px;
}
#pannel-body h2 span{
    font-size: 18px;
    color: #999999
}
#pannel-body h2 strong{
    /*padding-right: 15px;*/
    padding: 0;
}


/*pannel height for list and grid*/
.list-group-item #pannel-width{
    height: 220px;
}

/*.grid-group-item .col-sm-12 img{
    max-width: 345px;
    max-height:270px;
    text-align: center;
}*/

/*.grid-group-item #pannel-width{
    height: 400px;
}*/


/*IMAGE HOVER*/
.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #c40000;
    background-color:transparent;
    opacity:0;
    font-weight: 700;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:90px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}